@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border;

}

@layer components{
  .flex-center{
    @apply flex items-center justify-center
  }
  .flex-between{
    @apply flex items-center justify-between
  }
}

@layer base{
  body{
    @apply bg-[#06202A] text-gray-300   
  }
}


.scroll-thing::-webkit-scrollbar-thumb{
      background-color: rgb(192, 192, 192);
      border-radius: 8px;
      width: 10px;

}

.scroll-thing::-webkit-scrollbar{
      width: 10px;
      height: 6px;
}
.scroll-thing::-webkit-scrollbar-track {
  background-color: transparent; /* Set the track color */
}
/* .scroll-thing{
  display: flex;
  gap: 10px;
} */
